html {
  font-size: 100%;
} 

body {
  background: white;
  font-family: "Merriweather", serif;
  font-weight: 300;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1{
  color:white;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}
article {
  text-align: justify;
}

article p {
  text-align: justify;
}

.clearfloat::after {
  clear: both;
  display: table;
  content: "";
}


/* Menu */

ul li li:hover ul {
  left: 100%;
  top: 0;
}

li :hover {
  background-color: rgb(191, 253, 255);
}

.navigation_main li:hover > ul {
  overflow: visible;
  top: 100%;
}


.navigation ul {
  list-style: none;
}

.navigation_main {
  width: 100%;
  background-color: rgba(244, 255, 145, 0.667);
}

.navigation li.active > a {
  color: var(--primary-color);
}

.navigation li a,
.navigation li > a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation_main ul ul {
  display: none;
  position: absolute;
  left: 0px;
  top: 100%;
  width: 100%;
  background: rgb(250, 247, 102);
}

.navigation_main > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 80px;
  align-content: center;
  align-items: center;
  padding: 0;
}

.navigation_main ul ul li {
  height: 2em;
  padding: 1em;
}

.navigation_main li {
  position: relative;
}

ul ul li:hover ul {
  left: 100%;
  top: 0;
  z-index: 200;
}


.navigation_main ul ul {
  left: 0px;
  top: 0%;
  z-index: 100;
  overflow: hidden;
  height: 0px;
  transition: 1s 0.5s top;
  position: absolute;
  background: pink;
  width: 100%;
  max-height: auto;
}

.navigation_main li:hover > ul {
  overflow: visible;
  top: 100%;
}
/* Zdjęcia */

.image-left {
  width: 200px;
  float: left;
  margin: 0 1em 0 0;
}

.image-right {
  width: 200px;
  float: right;
  margin: 0 0 0 1em;
}

p {
  font-size: 1.5em;
  color: #000000;
  background-image: none;
  background-color: transparent;
}

header {
  background-image: url("zdjecia/tlo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 40%;
}

header hgroup {
  height: 120px;
  display: flex;
  flex-flow: row;
  align-items: center;
}

header .logo {
  padding-right: 1em;
  width: 150px;
}

aside > ul {
  list-style: none;
}
aside figure {
  margin: 0;
}

.main-content article.product-content {
  flex-grow: 3;
}
.main-content .sidebar {
  flex-shrink: 3;
  width: 200px;
}

.row {
  display: flex;
}

.row .col {
  flex: 1 1 100%;

}

header,
footer {
  width: 100%;
  flex-shrink: 0;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  min-width: 200px;
}


@media print {
  .navigation_main{
    display: none;
  }
}
@media print{
.container{
  margin:1em 1 em;
  max-width: 300px;
}
}
