/* Ctrl+Shift+X => Prettier => install extension */
/* Shift+Alt+F - format document */
/* https://type-scale.com/ */
/* https://fonts.google.com/  */
:root {
  --text-color: #666;
  --bg-color: #eee;
  --primary-color: rgb(165, 65, 115);
  --active-color: var(--primary-color);
  --hover-color: hotpink;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background: var(--bg-color);
  font-family: "Merriweather", serif;
  font-weight: 300;
  line-height: 1.75;
  color: var(--text-color);
  margin: 0;
}

.rotate-on-hover {
  transform: rotate(0deg);
  transform-origin: 0 0;
  transition: 300ms 200ms transform;
}
.rotate-on-hover:hover {
  transform: rotate(45deg);
}

@keyframes mojaAnimacja {
  0% {
    top: 0;
    left: 0;
  }
  30% {
    top: 50px;
  }
  /* 68%, 72% { left: 50px; } */
  60% {
    left: 50px;
  }
  100% {
    top: 100px;
    left: 100px;
  }
}

.fly-away img {
  position: absolute;
}
.fly-away:hover img {
  animation: mojaAnimacja 1s linear 0.5s 3 normal both;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: #333;
  margin: 3rem 0 1.38rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.383rem;
}

h2 {
  font-size: 1.296rem;
}

h3 {
  font-size: 1.215rem;
}

h4 {
  font-size: 1.138rem;
}

h5 {
  font-size: 1.067rem;
}

h1 {
  margin-top: 0;
  font-size: 1.383rem;
}

h2 {
  font-size: 1.296rem;
}

h3 {
  font-size: 1.215rem;
}

h4 {
  font-size: 1.138rem;
}

h5 {
  font-size: 1.067rem;
}

small,
.text_small {
  font-size: 0.937rem;
}

/* @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap'); */

.icon {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";

  vertical-align: middle;
}

/* == Float text and images */
p {
  /* outline: 1px solid red; */
}

.image-left {
  float: left;
  margin: 0 1em 0 0;
}

.image-right {
  float: right;
  margin: 0 0 0 1em;
}

.clearfloat::after {
  clear: both;
  display: table;
  content: "";
}

article p {
  text-align: justify;
  /* word-break: normal;
  hyphens: auto; */
}
/* == Layout
============================== */

aside > ul {
  list-style: none;
}
aside figure {
  margin: 0;
}

/* Utils ( general / reusable ) */

.row {
  /* display: inline-flex; // inline-block */
  display: flex;
}

.row .col {
  flex: 1 1 100%;
  /* width: 100%;
  flex-grow: 1;
  flex-shrink: 1; */
}

/* == Layout Semantic ( Specific ) */

header {
  background: url(./images/pexels-aleksandar-pasaric-325185.jpg);
  /* background-size: 120%;
  background-position: 0% 40%; */
  height: 250px;
  background-repeat: no-repeat;
  /* object-fit: cover; <img> */
  background-size: cover;
  background-position: 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header hgroup {
  height: 60px;
  display: flex;
  flex-flow: row;
  align-items: center;
}

header hgroup h1 {
  line-height: 1em;
  margin: 0;
}

header .logo {
  padding-right: 1em;
}

.main-content article.product-content {
  /* width: 60%; */
  flex-grow: 3;
}
.main-content .sidebar {
  flex-shrink: 3;
  width: 200px;
}

footer .col.footer-navigation {
  flex: 1 2 100%;
}
footer .col.contact-section {
  flex: 3 1 100%;
}
.contact-section input,
.contact-section textarea {
  width: 100%;
  padding: 1em;
  border: none;
  border-bottom: 1px solid #ccc;
}

.footer_container {
  background: rgb(189, 189, 219);
}

/* == Navigation ============================== */

*:target {
  outline: 1px solid red;
}

.navigation_main > ul > li:first-child {
  max-width: 30px;
}

#rozmiary tbody tr:nth-child(odd) {
  background-color: #ddd;
}

.navigation ul {
  list-style: none;
}

.navigation li {
  /* max-width: 150px; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navigation li a,
.navigation li > a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

/* == UI States - active, hover, disabled ... */

.navigation li.active > a {
  color: var(--primary-color);
}

.navigation li:hover a {
  color: var(--hover-color);
  text-decoration: underline;
}

.navigation_main li:hover {
  background-color: rgb(250, 225, 229);
}

/* == Sub-menu */

.navigation_main ul ul li {
  height: 2em;
  padding: 1em;
}

.navigation_main li {
  position: relative;
}

/* Sub-Sub Menu ( on the right ) */
ul ul li:hover ul {
  left: 100%;
  top: 0;
  z-index: 200;
}

/* Sub menu - ( on the bottom ) */
.navigation_main ul ul {
  left: 0px;
  top: 0%;
  /* top: 100%; */
  z-index: 100;
  /* display: none; */
  overflow: hidden;
  height: 0px;
  transition: 1s 0.5s top;
  position: absolute;
  background: pink;
  width: 100%;
  max-height: auto;
}

.navigation_main li:hover > ul {
  /* display: block; */
  overflow: visible;
  top: 100%;
}

/* == Top Navigation */
.navigation_main {
  width: 100%;
  background-color: #fffa;
}

.navigation_main ul {
  padding: 0;
  margin: 0;
}

.navigation_main li {
  text-align: center;
}

/* Top Navigation */
.navigation_main > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 80px;
  align-content: center;
  align-items: center;
  padding: 0;
}

.navigation_main > ul > li {
  flex: 1 1 100%;
  border-bottom: 1px solid grey;
  padding: 1em;
}

/* .navigation_main > ul > li > a {} */

/* == Print */

@media print {
  .container {
    width: 95%;
  }
  .no-print {
    display: none;
  }
  .contact-section,
  .sidebar,
  article .navigation,
  .navigation_main {
    display: none;
  }
  main header {
    background: inherit;
    height: inherit;
  }
  .footer_container {
    background: inherit;
  }
  footer {
    page-break-inside: avoid;
  }

  a[href^="http"]::after {
    content: "( " attr(href) " )";
    color: #aaa;
    font-size: 0.8em;
    margin-left: 0.5em;
  }

  a[data-tel]::after {
    content: "( " attr(data-tel) " )";
    color: #aaa;
    font-size: 0.8em;
    margin-left: 0.5em;
  }
}

/* RWD - MEdia Queries */

.container {
  margin: 1em 1em;
  width: 100%;
}

.navigation_main ul {
  flex-direction: column;
}

@media screen and (min-width: 320px) {
  .container {
    margin: 0 auto;
    width: 96%;
  }
}

@media screen and (min-width: 960px) {
  .navigation_main ul {
    flex-direction: row;
  }
  .container {
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
  }
}
