<h4>Block</h4>


<p>Ala ma <b>kota</b> i lubi placki z <strong>czekoladą</strong>!</p>
<blokcquote>Bob ma psa</blokcquote>
<p>Kate ma rybki</p>




<em>All is</em><abbr tittle="Fumbled beyond any reason">Fubar</abbr>